// Your styles go here
.grid 
{
    max-width: 740px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}
.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

.with-gutters .row:not(:first-child) .columns {
    margin-top: 2%;
}

.columns {
    grid-column: span 12;

}

.grid::after, .row::after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (min-width: 576px) {
    .one { grid-column: span 1; }
    .two { grid-column: span 2; }
    .three { grid-column: span 3; }
    .four {  grid-column: span 4; }
    .five {  grid-column: span 5; }
    .six {  grid-column: span 6; }
    .seven { grid-column: span 7; }
    .eight {  grid-column: span 8; }
    .nine {  grid-column: span 9; }
    .ten {  grid-column: span 10; }
    .eleven {  grid-column: span 11; }
    .twelve {  grid-column: span 12; }
}